body {
  max-height: 100vh;
  color: white;
  /* padding: 40px; */
  font-family: Arial;
  text-align: center;

}
.input {
  width: 100%;
}
.items {
 /* float: left;*/
  /* margin:auto; */
  width: 82%;
  overflow: hidden;
}
.editIcon {
  position: absolute;
  top: 0;
  right: 0;
}
.radioButton {
  position: absolute;
  top: 0;
  left: 0;
}
.itemDiv {
 width: 84%;
 overflow: hidden;
}
.editInput {
  float: left;
  width: 82%;
}


