body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./bg.jpg");
  background-size: cover;
 

}
button{
  margin: 1%;
  font-size: 15px;
  height: 26px;
  width: 100px;
  padding: 4px;
  border: none;
  color:white;
  background-color: rgba(142, 145, 148, 0.5);
  letter-spacing: 1px;
  border-radius: 2px;
  
}

input{
 
  /* width: 250px; */
  text-align: center;

  
}

.ostoslista {
  position: absolute;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  width: 60%
}
.ostoslistaTavarat{
  grid-template-columns: repeat(2,auto);
  display: grid;

}

/*
turha? @media(max-width : 450px)
{
  input{
    width: 95%;
  }
} */
