.App {
  font-family: sans-serif;
  text-align: center;
  height: 99vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
}

.container,
#interactive.viewport {
  width: 400px;
  height: 300px;
}

#interactive.viewport canvas,
video {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 10;
  right: 0;

}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 325px;
  height: 300px;
}
